<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=utf8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="robots" content="noindex, nofollow">
    

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>

    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
    <!-- <script src="static/js/application.js"></script> -->

    <link rel="stylesheet" type="text/css" href="static/css/thirdparty.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/media.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>DK-APT Detection System</h1>
    <p>By DanhLe, KienHo</p>
    <div style="text-align: center; margin-top: 20px;">
      <button class="btn btn-primary" onclick="goBack()">Back to Flows</button>
    </div>
  </div>
</div>

<div class="container">
  <b>
  <h3 align="center">Risk: {{ risk|safe }}</h3>
  </b>
</div>
<div class="container">
  <h3 align="center">Anomaly Result:</h3>
  {% set anom_lower = anomaly_result|lower %}
  {% if 'anomaly' in anom_lower %}
    <h3 align="center" style="color: red;">{{ anomaly_result }}</h4>
  {% elif 'normal' in anom_lower %}
    <h3 align="center" style="color: green;">{{ anomaly_result }}</h4>
  {% else %}
    <h3 align="center" style="color: #666;">{{ anomaly_result }}</h4>
  {% endif %}
</div>
<hr>

<script>
function goBack() {
  window.history.back();
}
</script>

{% if exp %}
  <!-- <h3 align="center">LIME-explained results using {#{ classifier }#}</h3> -->
  <h3 align="center">Result:</h3>
  <div class="container">
      {{ exp|safe }}
  </div>
{% endif %}
<hr>

{% if all_probs_table %}
  <h3 align="center">All Attack Type Probabilities:</h3>
  <div class="container">
      {{ all_probs_table|safe }}
  </div>
{% endif %}
<hr>
<br></br>

<h3 align="center">Ranking features by reconstruct error by Auto Encoder:</h3>
<div class="container">
  {{ ae_plot|safe }}
</div>
<hr>
<br></br>

<h3 align="center">List of all features and values used:
<div class="container">
  <!-- <div class="panel-body table-responsive"> -->
    <table class="table2 table-bordered" >
      {% for table in tables %}
      <tr>
        <!-- <td>{#{titles[loop.index]}#}</td> -->
        <td>{{ table|safe }}</td>
      </tr>
      {% endfor %}

    </table>
</div>
</h3>
  <!-- </div> -->

</div>

</body>


</html>

